.Ipt{
    
    input[type="text"] {
        width:100%;
        margin:5px  0px;
        border-radius:3px;
        border:1px solid #ccc;
        height:40px;
        padding:5px;
        
        
    }
    label{
        margin-bottom: 2px;
        font-size: 0.8rem;
        
    }
    .txt_a{
        width:100%;
        margin:5px;
        border-radius:5px;
        border:1px solid #ccc;
        padding:5px;
    }
}

