body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btnaction{
  background:#097bd8 !important;
  color:#fff !important;
  padding:5px 20px !important;
  display: inline-block;
 
}

.btnaction:hover{
  background:#07518d !important;
}

.right{
  text-align:right;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar:hover{
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: #ccc;
  height: 7px;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
::-webkit-scrollbar-thumb :hover{
  cursor: pointer;
}